{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">

    </div>
  
    <div class="masonry text-center">
      {% for tips in routine %}
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ tips.name }} </h2>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ tips.products }} </h2>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ tips.description }} </h2>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}